<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalarin.Data" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net452" />
  <package id="SimpleInjector" version="3.3.2" targetFramework="net452" />
</packages>